* {
    padding: 0;
    margin: 0;
}

body {
    color: #78350F;
    background-color: #FFF7ED;
    font-family: "Poppins", sans-serif;
}

/* Trang chủ */
/* header_trang chu */
.header {
    background-color: #FDE68A;
    padding: 150px;
}

.header h1 {
    text-align: center;
    font-size: 100px;
}

.header p {
    text-align: center;
    font-size: 40px;
    color: black;
}

/* main */
.main_a {
    background-color: #FED7AA;
    padding: 30px;
    text-align: center;
    font-size: 40px;
}

.main_a a {
    text-decoration: none;
    font-weight: bold;
    color: #78350F;
    transition: all 0.3s;
}

.main_a a:hover {
    background-color: #ac4b13;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
}

.main_img img {
    width: 100%;
    height: 1050px;
    object-fit: cover;
}

.main_img {
    position: relative;
}

.main_img .title {
    border: none;
    border-radius: 30px;
    background-color: #F4FAFD;
    width: 1200px;
    height: 400px;
    position: absolute;
    right: 90px;
    bottom: 90px;
    font-size: 50px;
    color: #3F2A1D;
}

.main_img .title h2 {
    padding: 30px 60px 10px;
}

.main_img .title p {
    padding: 0px 60px 10px;
}

.doctor-section {
    background-color: #FFF6EC;
    padding: 60px 0;
    text-align: center;
}

.doctor-section h2 {
    font-size: 80px;
    margin: 70px;
}

.doctor-card h3 {
    font-size: 50px;
}

.doctor-card p {
    font-size: 40px;
}

.doctor-list {
    text-align: center;
}

.doctor-card {
    display: inline-block;
    width: 600px;
    margin: 0 15px;
    padding: 100px 80px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.doctor-card:hover {
    background-color: #f5e298;
    transform: translateY(-10px);
    transition: all 0.3s;
}
.main_footer h3 {
    text-align: center;
    font-size: 80px;
    margin-top: 150px;
    margin-bottom: 60px;
}
.main_footer p {
    text-align: center;
    font-size: 55px;
    margin: 30px;
    padding: 10px;
}
.footer {
    background-color: #78350F;
    padding: 90px;
    color: white;
    font-size: 40px;
    text-align: center;
}
