/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: #0C63E1;
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-around;
}

.header h1 {
    color: white;
    font-weight: bold;
}
.header .search {
    width: 400px;
    height: 32px;
    
}
.header .search input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: #3D83E9;
}

.header nav a{
 text-decoration: none;
 color: white;
 font-weight: 500;
 margin: 10px;
}
.header .menu {
    display: none;
}
/* main */
main {
    display: flex;
    flex-direction: column;
    background-color: #f4f7fc;
    padding: 0 100px 0 200px;
}
main .hero {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin:  30px 0;
    border-radius: 1px solid #dbdbdb;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}
main .hero .progress progress {
    height: 20px;
    width: 180px;
}




/* RESPONSIVE */

@media screen and (max-width: 768px) {
    .header {
        justify-content: space-between;
        padding: 15px;
    }
    .header .search {
        display: none;
    }
    .header nav {
        display: none;
    }
    .header .menu {
        display: block;
        color: white;
        font-size: 28.8px;
    }

    /* phần main */
    main {
        padding: 0 20px 0 20px;
        
    }
    main .hero {
        display: flex;
        flex-direction: column;
        margin: 20px;
        align-items: center;
        text-align: center;
    }
}

